.nav-bar{
    border: 2px solid rgb(255, 255, 255);
    display: flex;
    text-decoration: none;
    justify-content: space-around;
    align-items: center;
    
  
}
li{
    list-style-type: none;
    
}
#logo{
    width: 100px;
    height: 50px;
    
}
#m-logo{
    width: 20px;
    height:20px;
}
 .second{
    border-radius: 10px;
 }


 @media (max-width: 768px) {
    .nav-bar {
      flex-direction: column;
      align-items: flex-start;
    }
  
    .nav-bar li {
      display: none;
    }
  
    .hamburger {
      display: block;
      color: #fff;
    }
  
    .nav-bar.open li {
      display: block;
      width: 100%;
    }
  
    .nav-bar.open {
      align-items: center;
    }
  }